<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="alert alert-success display-1">Listado de EMPLEADOS</div>
    {%if empleados %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Fono</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in empleados %}
            <tr>
                <td>{{ emp.id }}</td>
                <td>{{ emp.nombre }}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.fono }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-info">No hay empleados</div>
    {% endif%}
</body>
</html>